img {
    max-height: 200px;
}

.jumbotron {
    background-color: #FF934F;
}

body {
    background-color: rgb(243, 241, 235);
}

a {
    color: #212529;
}

.blog-footer {
    text-align: center;
}

.blog-footer a {
    margin-left: 10px;
}

@media (prefers-color-scheme: dark) {
    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
        max-height: 200px;
    }

    img:hover {
        opacity: 1;
    }

    body {
        background-color: #121212;
    }

    h2 {
        color: #ffffff;
        opacity: .75;
    }

    .col-lg-12 p {
        color: #ffffff;
        opacity: .60;
    }

    footer p,
    a {
        color: #ffffff;
        opacity: .60;
    }

    .jumbotron {
        opacity: .80;
    }
}