img {
    max-height: 200px;
}

.jumbotron {
    background-color: #FF934F;
}

body {
    background-color: rgb(243, 241, 235);
}

a {
    color: #212529;
}

.blog-footer {
    text-align: center;
}

.blog-footer a {
    margin-left: 10px;
}

/* iPhone 11 pro resolution 2436×1125 pixels */